html,
body {
  padding: 0;
  margin: 0;
  font-family: Georgia, serif;
  background-color: #f8e5e5;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.grid-container {
  width: 70%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px 30px;
}

.btn {
  display: flex;
  justify-content: center;
  margin: 20px 0;

  button {
    border-style: none;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
    background: #fa2557c4;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
  }
}
